body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  #stopwatch {
    background-color: #c40da2;
    color:rgb(255, 255, 255);
    padding: 150px;
    border-radius:360px;
    text-align: center;
  }
  
  .display {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .lap-times {
    margin-bottom: 20px;
  }
  #lap-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .lap-item {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  button {
    padding: 20px 35px;
    border: none;
    border-radius: 360px;
    cursor: pointer;
  }
  
  #start {
    background-color: #f159aa;
    color: #fff;
  }
  
  #stop, #reset, #lap {
    background-color: #bcc2be;
    color: #333;
  }
  
  #stop:hover, #reset:hover, #lap:hover {
    background-color: #9bee60;
  }
  
  #lap:active {
    background-color: white;
    color: #fff;
  }
  